OPENAI_API_KEY=set_to_your_openai_api_key 
GOOGLE_API_KEY=set_to_your_google_search_api_key
GOOGLE_API_SEARCH_ID=set_to_your_google_search_id
DB_PASSWORD=set_to_your_local_postgresql_password
TEL_EXPORTER_OTLP_ENDPOINT="https://api.honeycomb.io"
OTEL_EXPORTER_OTLP_HEADERS="x-honeycomb-team=set_to_your_honeycomb_secret"